/* * {
  box-sizing: border-box;
}; */

.App {
  background: #43658b;
  width: 80%;
  margin: 3rem auto;
  padding: 2rem;
}

p {
  font-size: .8rem;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
}

.row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.element {
  width: 33.3333%;
  height: 35vh;
  box-sizing: border-box;
  padding: 1.5rem;
}

.e1 {
  background: #4e89ae;
  color: white;
}

.e2, .e3, .e4 {
  color: #43658b;
}

.e2 {
  background: #ed6663;
}

.e3 {
  background: #ffa372;
}

.e4 {
  background:#ffa372;
}
